<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>博霖入户宝官网内容管理系统</title>
    <meta name="description" content="博霖教育后台数据管理" />
    <meta name="keywords" content="博霖教育|学历报考中心|学历提升|广东省成人学历报名中心" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" type="images/x-icon" href="../../img/bolinglink.png">
    <link rel="stylesheet" type="text/css" href="../../ku/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="../../ku/layui/css/layui.css" />
    <link rel="stylesheet" type="text/css" href="../css/setConten.css" />
    <link rel="stylesheet" href="../../ku/kindeditor/themes/default/default.css" />
    <link rel="stylesheet" href="../../ku/kindeditor/plugins/code/prettify.css" />
  </head>
  <body>

    <div class="app">
      <div class="nav-box">
        <h2 class="title">官网内容管理系统</h2>
        <div id="test12" class="demo-tree-more"></div>
      </div>
      <div class="mian">
        <div class="mian-content box1 hide">
          <div class="right-box">
            <div class="setConten">
              <h3>添加发布文章</h3>
              <form action="" class="layui-form myform1" method="post">
                <div class="layui-form-item">
                  <label class="layui-form-label">标题</label>
                  <div class="layui-input-inline">
                    <input type="text" name="title" style="width: 500px;" lay-verify="title" autocomplete="off"
                      placeholder="请输入标题" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">作者</label>
                  <div class="layui-input-inline">
                    <input type="text" name="user" placeholder="作者" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">发布栏目</label>
                  <div class="layui-input-inline">
                    <select name="lianmu" data-id="">
                      <option value="">请选择栏目</option>
                      <option value="最新政策" data-id="" class="option">最新政策</option>
                      <option value="办事指南" data-id="" class="option">办事指南</option>
                      <option value="服务窗口" data-id="" class="option">服务窗口</option>
                      <option value="常见问题" data-id="" class="option">常见问题</option>
                      
                    </select>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">发布时间</label>
                  <div class="layui-input-inline">
                    <input type="text" name="time" id="test1" placeholder="发布时间" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="ed" style="margin-top: 50px;">
                  <textarea id="editor_id" name="content"  style="width: 99%;height: 350px;">
                    
                  </textarea>
                </div>
                <div class="btn" style="padding-top: 30px;">
                  <button type="button" style="margin-left: 20px;width: 100px;" class="layui-btn postDate postDate1-add"
                    lay-submit="" lay-filter="demo2">发布</button>
                    <button type="button" style="margin-left: 20px;width: 100px;" class="layui-btn postDate postDate1-reset"
                      lay-submit="" lay-filter="demo2">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="mian-content box2 hide">
          <div class="right-box">
            <div class="setConten">
              <h3>编辑文章</h3>
              <form action="" class="layui-form myform2" method="post">
                <div class="layui-form-item">
                  <label class="layui-form-label">标题</label>
                  <div class="layui-input-inline">
                    <input type="text" name="title" style="width: 500px;" lay-verify="title" autocomplete="off"
                      placeholder="请输入标题" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">作者</label>
                  <div class="layui-input-inline">
                    <input type="text" name="user" placeholder="作者" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">发布栏目</label>
                  <div class="layui-input-inline">
                    <select name="lianmu" data-id="">
                      <option value="">请选择栏目</option>
                      <option value="最新政策" data-id="" class="option">最新政策</option>
                      <option value="办事指南" data-id="" class="option">办事指南</option>
                      <option value="服务窗口" data-id="" class="option">服务窗口</option>
                      <option value="常见问题" data-id="" class="option">常见问题</option>
                    </select>
                  </div>
                </div>
                <div class="layui-form-item">
                  <label class="layui-form-label">发布时间</label>
                  <div class="layui-input-inline">
                    <input type="text" name="time" id="test2" placeholder="发布时间" autocomplete="off" class="layui-input">
                  </div>
                </div>
                <div class="ed" style="margin-top: 50px;">
                   <textarea id="editor_id2" name="content"  style="width: 99%;height: 350px;">
                    
                  </textarea>
                </div>
                <div class="btn" style="padding-top: 30px;">
                  <button type="button" style="margin-left: 20px;width: 100px;" class="layui-btn postDate postDate2-save"
                    lay-submit="" lay-filter="demo2">保存</button>
                  <button type="reset" style="margin-left: 20px;width: 100px;" class="layui-btn del postDate2-reset"
                    lay-submit="" lay-filter="demo2">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      
      

      <script src="../../js/jquery2.01.js"></script>
      <script src="../../ku/layui/layui.all.js "></script>
      <script charset="utf-8" src="../../ku/kindeditor/kindeditor-all.js"></script>
      <script charset="utf-8" src="../../ku/kindeditor/lang/zh-CN.js"></script>
      <!-- 实例化编辑器 -->
      <script type="text/javascript">
        var tree = layui.tree;     
        var layer = layui.layer;    
        var laydate = layui.laydate;
        var laytpl = layui.laytpl;
        
        
       
        
        //编译器创建 html = editor.html();
        KindEditor.ready(function(K) {
          window.editor = K.create('#editor_id');
        });
        KindEditor.ready(function(K) {
          window.editor2 = K.create('#editor_id2');
        });
        
        //获取树形数据  
        $.ajax({
          url: '../../rest/content/category',
          type: 'get',
          success: function(res) {
            tree_data = res;
            
            
            console.log(tree_data)
             //树形结构
            tree.render({
              elem: '#test12',
              data: tree_data,
              showCheckbox: true, //是否显示复选框
              id: 'demoId',
              showLine: false,
              spread: true,
              edit: false, //操作节点的图标 ['add', 'update', 'del']
              isJump: true, //是否允许点击节点时弹出新窗口跳转
              click: function(obj) {
                var data = obj.data; //获取当前点击的节点数据 mian-content box1
                
                console.log(data.isParent);
                for(var i=0;i<tree_data.length;i++){
                  tree_data[i].index = i;
                }
                
                
                if (data.parentId == 1 && data.isParent == false) { //文章
                  //编辑 
                  // ajax 获取数据
                  
                  $('.mian-content').addClass('hide');
                  $('.box2').removeClass('hide');
                  eidt_id = obj.data.id;
                  
                  console.log(obj,eidt_id)
                  $.ajax({
                    url: '../../rest/content/category',
                    data: {
                      id:eidt_id
                    },
                    type: 'GET',
                    success: function(res) {
                      console.log(res)
                      
                      //对表单赋值
                      $('.myform2 input[name=title]').val(res.title);
                      $('.myform2 input[name=user]').val(res.name);
                      $('.myform2 input[name=time]').val(res.time);
                      editor2.html(res.content)
                      $('.myform2 select[name=lianmu] option').each(function(index,item){
                        if($(item).text()==res.lanmu){
                          $(item).prop("selected", true);
                          $('.myform2 .layui-form-select input').val(res.lanmu)
                          
                          // console.log($('select[name=lianmu]').val())
                        }
                      })
                      
                      layer.msg('获取数据成功');
                    },
                    error: function(res) {
                      layer.msg('获取数据失败');
                    }
                  })
                  
                }else if(data.parentId == 0 && data.isParent == true){ //一级目录
                 var id = obj.data.id;
                 console.log(obj,id)
                 
                  // 获取子类数据
                  $.ajax({
                    url: '../js/data2.json',
                    data: {
                      id:id
                    },
                    type: 'GET',
                    success: function(res) {
                     
                      
                      tree_data[obj.data.index].children = res;//添加二级目录
                      for(var i=0;i<tree_data[obj.data.index].children.length;i++){
                        tree_data[obj.data.index].children[i].index = i;
                      }
                      console.log(obj.data.index,obj)
                      console.log(tree_data);
                      //重新渲染树形结构
                      tree.reload('demoId', {
                        spread: true,
                        edit:['add', 'update', 'del']
                      });
                    },
                    error: function(res) {
                      layer.msg('获取数据失败');
                    }
                  })
                 
                }else if(data.parentId == 1 && data.isParent == true){ //显示文章列表()
                  //获取文章子目录
                 
                  var id = obj.data.id;
                  console.log(obj.data.id,obj.data,555)
                  $.ajax({
                    url: '../js/data2.json',
                    data: {
                      id:id
                    },
                    type: 'GET',
                    success: function(res) {
                     
                      tree_data[obj.data.index].children = res;//添加三级目录
                      for(var i=0;i<tree_data[obj.data.index].children.length;i++){
                        tree_data[obj.data.index].children[i].index = i;
                      }
                      console.log(obj.data.index,obj)
                      console.log(tree_data);
                      //重新渲染树形结构
                      tree.reload('demoId', {
                        spread: true,
                        edit:false
                      });
                    },
                    error: function(res) {
                      layer.msg('获取数据失败');
                    }
                  })
                }
              },
              accordion: true,
              operate: function(obj) {
                //判断状态
                var type = obj.type; //得到操作类型：add、edit、del
                var data = obj.data;
                console.log(type)
                if (type == 'add') {
                  //添加
                  $('.mian-content').addClass('hide');
                  $('.box1').removeClass('hide');
                  console.log(data.children);
                  m_id = obj.data.id;
                  console.log(m_id,obj)
                }
                if (type == 'update') {
                  //编辑更新 ajax
                  var id = obj.data.id;
                  var title = obj.data.title;
                  
                  layer.confirm('确定要修改吗？', {
                    btn: ['确定', '取消']
                  }, function() {
                    //修改更新ajax
                    editAjax({id:id,title:title},'http:www.baidu.com');
                  }, function() {
                     window.location.reload()
                  });
                  
                }
                if (type == 'del') {
                  //删除
                  var id = obj.data.id;
                  // console.log(id)
                  layer.confirm('确定要删除吗？', {
                    btn: ['确定', '取消']
                  }, function() {
                    //删除ajax
                    editAjax({id:id},'http:www.baidu.com');
                  }, function() {
                     window.location.reload()
                  });
                   
                }
              }
            });
          },
          error: function(res) {
            layer.msg('获取数据失败');
          }
        })
        
        // tip 
        $('body').on('mouseenter', '.layui-tree-txt', function() {
          layer.tips($(this).text(), $(this), {
            time: 500,
          });
        })

       
        //时间日期创建
        laydate.render({
          elem: '#test1',
          type: 'datetime'
        });
        laydate.render({
          elem: '#test2',
          type: 'datetime'
        });
        
        
        // 添加文章提交发布  title  user lianmu time
        var m_id = '';  //文章类目id;
        $('.postDate1-add').on('click', function() {
          
          if (!$('input[name=title]').val()) {
            layer.msg('请输入标题');
            return false;
          }
          if (!$('input[name=user]').val()) {
            layer.msg('请输入作者');
            return false;
          }
          if (!$('select[name=lianmu]').val()) {
            layer.msg('请选择栏目');
            return false;
          }
          if (!$('input[name=time]').val()) {
            layer.msg('请输入发布时间');
            return false;
          }
          if (!editor.html()) {
            layer.msg('请编辑发布内容');
            return false;
          }
          
          var data = {
            title: $('input[name=title]').val(), //标题
            name: $('input[name=user]').val(), // 作者
            lanmu: $('select[name=lianmu]').val(), // 发布类目
            time: $('input[name=time]').val(), // 发布时间
            content: editor.html(), // 发布内容
            id: m_id, //类型栏目id
          }
          
          //发送请求
          layer.confirm('确定发布吗？', {
            btn: ['确定', '取消']
          }, function(layero) {
            addEditAjax('../js/data.json','get','add',data,'发布成功！','发布失败！')
            layer.closeAll();
          }, function() {
            
          });
          console.log(data)
          return false;
        })
        //取消发布
        $('.postDate1-reset').on('click',function(){
          layer.confirm('确定取消吗？', {
            btn: ['确定', '取消']
          }, function(layero) {
             $('.myform1')[0].reset();
             ue.setContent('');
             layer.closeAll();
          }, function() {
            
          });
         return false;
        })
        
        
        //编辑文章保存 删除
        $('.postDate2-reset').on('click',function(){
          layer.confirm('确定取消吗？', {
            btn: ['确定', '取消']
          }, function(layero) {
             $('.myform2')[0].reset();
             editor2.html('')
             layer.closeAll();
          }, function() {
            
          });
          return false;
        })
        
        var eidt_id = ''; //编辑文章的id
        $('.postDate2-save').on('click',function(){
          layer.confirm('确定保存吗？', {
            btn: ['确定', '取消']
          }, function(layero) {
             //保存数据
             var data = {
               title: $('input[name=title]').val(), //标题
               name: $('input[name=user]').val(), // 作者
               lanmu: $('select[name=lianmu]').val(), // 发布类目
               time: $('input[name=time]').val(), // 发布时间
               content: editor2.html(), // 发布内容
               id: eidt_id, //类型栏目id
             }
             addEditAjax('../js/data.json','post','edit',data,'保存成功！','保存失败！')
             layer.closeAll();
          }, function() {
            
          });
          return false;
        })
        
        
        // 怎删改查ajax 封装
        function editAjax(data,url,type){
          var type = type ? type :'POST' ;
          
          $.ajax({
            type: type,
            url: url,
            data: data,
            success: function(res) {
              layer.close(layer.index);
              window.location.reload()
            },
            error:function (res) {
              layer.close(layer.index);
              window.location.reload()
              setTimeout(function(){
                console.log('更新失败');
              })
            }
          });
        }
       
       
       // 发布 编辑保存文章ajax 封装
       /**
        * success_msg 成功回调的提示信息
        * error_msg   失败回调的提示信息
        * ajax_type   请求的类型  add(添加发布请求) edit(编辑保存)
        */
       
       function addEditAjax(url,type,ajax_type,data,success_msg,error_msg){
          var type = type ? type :'POST';
          var ajax_type = ajax_type ? ajax_type : 'add';
          if(ajax_type=='add'){
            $.ajax({
              url: url,
              data: data,
              type: type,
              success: function(res) {
                layer.msg(success_msg);
                $('form')[0].reset();
                editor.html('');
                window.location.reload();
              },
              error: function(res) {
                layer.msg(error_msg);
              }
            })
          }else{
            $.ajax({
              url: url,
              data: data,
              type: type,
              success: function(res) {
                layer.msg(success_msg);
              },
              error: function(res) {
                layer.msg(error_msg);
              }
            })
          }
          
       }
       
      </script>
  </body>
</html>
